{% extends 'base.html' %}
{% block content %}
<body>
    <ul  class = "photo_list">
        {% for picture in pictures %}
            <a class ="image_block" href="{% url 'picture_details' id=picture.pk %}">
                <li>
                    <img class="image" src="{{ picture.url }}">
                    <p class ="info">{{ picture.title }} By {{ picture.artist  }} </p>
                    {% comment %} <p class ="info"></p> {% endcomment %}
                    {% comment %} <p>{{ picture.comments.count  }}</p> {% endcomment %}
                </li>
            </a>
        {% endfor %}
    </ul>
</body>
{% endblock %}