<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pictures</title>
</head>
<body>
    <ul>
        {% for picture in pictures %}
            <li>
                <img src="{{ picture.url }}">
                <p>{{ picture.title }}</p>
                <p>{{ picture.artist  }}</p>
                <p>{{ picture.comments.count  }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>